*.a
*.aps
*.bsc
*.diff
*.dll*
*.dylib
*.exe
*.exp
*.hlp
*.hm
*.idb
*.ilk
*.lib
*.log
*.map
*.mo
*.ncb
*.o
*.opic
*.obj
*.opt
*.pc
*.pch
*.pdb
*.ph
*.plg
*.pot
*.res
*.sbr
*.so*
*.sup
*.vcb
*.vcl
*.vco
*~
*.patch
.*.swp
.depend
config.h
config.mak
